/* VARIABLES */

$color-black: #000;
$color-white: #fff;

$color-dark: #333;
$color-light: #fafafa;
$color-gray: #999;

$color-black-opacity: rgba($color-black, 0.35);

$color-dark-opacity: rgba($color-dark, 0.25);
$color-light-opacity: rgba($color-light, 0.25);
$color-gray-opacity: rgba($color-gray, 0.25);

$border: 1px solid #ededed;

$transition: all 0.3s ease;

$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 480px;

@mixin minDesktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin minLaptop {
  @media (min-width: $laptop) {
    @content;
  }
}

@mixin minTablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin minMobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin maxDesktop {
  @media (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin maxLaptop {
  @media (max-width: #{$laptop - 1px}) {
    @content;
  }
}

@mixin maxTablet {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin maxMobile {
  @media (max-width: #{$mobile - 1px}) {
    @content;
  }
}

@mixin tamanioImagen($width, $height, $object-fit: cover) {
  width: $width;
  height: $height;
  object-fit: $object-fit;
}
