@use '../general/variables' as *;

/* INDEX */
#hero {
  > img {
    @include minLaptop {
      @include tamanioImagen(100%, 700px);
    }

    @include maxLaptop {
      @include tamanioImagen(100%, 600px);
    }

    @include maxTablet {
      @include tamanioImagen(100%, 500px);
    }
  }
}

#information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  @include maxTablet {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
